<div class="tab dungeonConfig" data-group="primary" data-tab="dungeonConfig">
  <div class="dungeon-config-tab">
    <h2>{{localize "OSRH.turnTracker.dungeonOptions"}} </h2>
    <div class="row">
      <div class="row">
        <input type="checkbox" name="d-encounter-roll" id="d-encounter-roll" title="{{localize "OSRH.turnTracker.title.rolEnc"}} "{{#if turnData.dungeon.rollEnc}}checked{{/if}}>
        <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollEnc"}} </label>
      </div>
      <div class="row">
        <input type="checkbox" name="d-react-roll" id="d-react-roll" title="{{localize "OSRH.turnTracker.title.rollReact"}} "{{#if turnData.dungeon.rollReact}}checked{{/if}}>
        <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollReact"}} </label>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <input type="text" class="num-inp" data-dtype="number" name="d-encounter-freq" id="d-encounter-freq" title="{{localize "OSRH.turnTracker.title.encFreq"}} " value="{{turnData.dungeon.proc}}">
        <label for="d-encounter-freq" >{{localize "OSRH.turnTracker.freq"}} </label>
      </div>
      <div class="row">
        <input type="text" class="num-inp" data-dtype="number" name="d-encounter-target" id="d-encounter-target" title="{{localize "OSRH.turnTracker.title.encTarget"}} " value="{{turnData.dungeon.rollTarget}}">
        <label for="d-encounter-target" >{{localize "OSRH.turnTracker.rollTarget"}} </label>
      </div>
    </div>
    <div class="row">
      <label for="d-react-table">{{localize "OSRH.turnTracker.reactTable"}} : </label>
          <select class="react-select dropEl" name="d-react-table" id="d-react-table" value="{{turnData.dungeon.rTable}}">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
    </div>
      <div class="encounter-tables">
        <div class="row" >
          <label for="lvl-1">Lvl 1: </label>
          <select class="d-enc-select dropEl" name="lvl-1" id="lvl-1" data-lvl="1">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-2">Lvl 2: </label>
          <select class="d-enc-select dropEl" name="lvl-2" id="lvl-2" data-lvl="2">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-3">Lvl 3: </label>
          <select class="d-enc-select dropEl" name="lvl-3" id="lvl-3" data-lvl="3">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-4">Lvl 4: </label>
          <select class="d-enc-select dropEl" name="lvl-4" id="lvl-4" data-lvl="4">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-5">Lvl 5: </label>
          <select class="d-enc-select dropEl" name="lvl-5" id="lvl-5" data-lvl="5">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-6">Lvl 6: </label>
          <select class="d-enc-select dropEl" name="lvl-6" id="lvl-6" data-lvl="6">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-7">Lvl 7: </label>
          <select class="d-enc-select dropEl" name="lvl-7" id="lvl-7" data-lvl="7">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row" >
          <label for="lvl-8">Lvl 8+: </label>
          <select class="d-enc-select dropEl" name="lvl-8" id="lvl-8" data-lvl="8">
            <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
            {{#each tableNames as |name idx|}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
  </div>

  <footer class="config">
    {{#if isGM}}
    <p class="blank-button"></p>
    <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
    <p class="blank-button"></p>
    {{/if}}
  </footer>
</div>