<form action="">
  <h3><b>{{localize "OSRH.effect.activeEffects"}}:</b></h3>
  
  <div class="effect-cont">
    {{#if selfEffects}}
    <div class="list-header fx sb w100p bgg05">
      <div class="header-name"><b>{{localize "OSRH.newEffectForm.name"}}</b></div>
      <div class="header-name"><b>{{localize "OSRH.customEffect.target"}}</b></div>
      <div class="header-dur"><b>{{localize "OSRH.newEffectForm.duration"}}</b></div>
      <div class="header-del"><b>{{localize "OSRH.effect.delete"}}</b></div>
    </div>
    {{/if}}
    {{#each selfEffects}}
    <div class="active-effect">
      <div class="fx ">
        <a class="effect-name" title="{{this.name}}">{{this.name}}</a>
        <div class="effect-target">{{this.target}}</div>
        <div class="effect-dur">{{this.duration}} {{this.durType}}</div>
        <div class="pr5"><a id="{{this.effectId}}"class="delete-btn"><i class="fas fa-times"></i></a></div>
      </div>
      <div class="details-cont" style="display: none">
        <div class="effect-list-cont effect-details-section">
          <h4>{{localize "OSRH.effect.effects"}}:</h4>
          <ul class="effect-list">
            {{{this.list}}}
            
          </ul>
        </div>
        <div class="descrip-cont effect-details-section">
          <h4>{{localize "OSRH.customEffect.descrip"}}:</h4>
          <p style="width: 170px;">{{this.descrip}}</p>
        </div>
      </div>
    </div>
    {{/each}}

    {{#if otherEffects}}
    <div class="list-header fx sb w100p bgb05">
      <div class="header-name"><b>{{localize "OSRH.newEffectForm.name"}}</b></div>
      <div class="header-name"><b>{{localize "OSRH.effect.createdBy"}}</b></div>
      <div class="header-dur"><b>{{localize "OSRH.newEffectForm.duration"}}</b></div>
      <div class="header-del">{{localize "OSRH.effect.delete"}}</div>
    </div>
    {{/if}}
    {{#each otherEffects}}
    <div class="active-effect">
      <div class="fx">
        <a class="effect-name" title="{{this.name}}">{{this.name}}</a>
        <div class="effect-target">{{this.target}}</div>
        <div class="effect-dur">{{this.duration}} {{this.durType}}</div>
        <div class="pr5"></div>
      </div>
      <div class="details-cont" style="display: none">
        <div class="effect-list-cont effect-details-section">
          <h4>{{localize "OSRH.effect.effects"}}:</h4>
          <ul class="effect-list">
            {{{this.list}}}
          </ul>
        </div>
        <div class="descrip-cont effect-details-section">
          <h4>{{localize "OSRH.customEffect.descrip"}}:</h4>
          <p style="width: 170px;">{{this.descrip}}</p>
        </div>
      </div>
    </div>
    {{/each}}

    {{#if gmList}}
    <div class="list-header fx sb w100p bgg05">
      <div class="header-name"><b>{{localize "OSRH.newEffectForm.name"}}</b></div>
      <div class="header-name"><b>{{localize "OSRH.effect.createdBy"}}</b></div>
      <div class="header-dur"><b>{{localize "OSRH.newEffectForm.duration"}}</b></div>
      <div class="header-del"><b>{{localize "OSRH.effect.delete"}}</b></div>
    </div>
    {{/if}}
    {{#each gmList}}
    <div class="active-effect">
      <div class="fx ">
        <a class="effect-name" title="{{this.name}}">{{this.name}}</a>
        <div class="effect-target">{{this.target}}</div>
        <div class="effect-dur">{{this.duration}} {{this.durType}}</div>
        <div class="pr5"><a id="{{this.effectId}}"class="delete-btn"><i class="fas fa-times"></i></a></div>
      </div>
      <div class="details-cont" style="display: none">
        <div class="effect-list-cont effect-details-section">
          <h4>{{localize "OSRH.effect.effects"}}:</h4>
          <ul class="effect-list">
            {{{this.list}}}
            
          </ul>
        </div>
        <div class="descrip-cont effect-details-section">
          <h4>{{localize "OSRH.customEffect.descrip"}}:</h4>
          <p style="width: 170px;">{{this.descrip}}</p>
        </div>
      </div>
    </div>
    {{/each}}

    
  </div>
  <div class="button-cont fx sb w100p">
    <button id="close-btn">{{localize "OSRH.customEffect.close"}}</button>
    <button id="new-btn">{{localize "OSRH.effect.new"}}</button>
  </div>
</form>
