<div class="main-cont">
  <h1> {{localize "OSRH.attack.pickWeapon"}} </h1>
  

  <select id='weapon' class="select" >{{{atkOptions}}}</select>

  <div class="row se">
    <div class="row jcc">
        <label for="ammoCheck">{{localize 'OSRH.util.dialog.checkAmmo'}}</label>
        <input id="ammoCheck" type="checkbox" checked />
        </div>
    <div class="row jcc">
      <label for="skip">{{localize 'OSRH.util.dialog.skipDialog'}}</label>
      <input id='skip' type='checkbox' checked />
    </div>
  </div>

  <div class="controls row">
    <button id="attack-btn">{{localize "OSRH.attack.atk"}}</button>
    <button id="close-btn">{{localize "OSRH.item.config.close"}}</button>
  </div>
</div>