<h3 class="txt-center"><b>{{localize "OSRH.customEffect.effectinfo"}}</b></h3>
<div class="pl mb"><b>{{localize "OSRH.customEffect.name"}}</b>: {{name}}</div>
<div class="pl mb"><b>{{localize "OSRH.customEffect.duration"}}</b>: {{duration}} {{localize "OSRH.customEffect.minutes"}}</div>
<div class="pl mb"><b>{{localize "OSRH.customEffect.descrip"}}</b>: {{description}}</div>
<div class="pl mb"><b>{{localize "OSRH.customEffect.target"}}</b>: {{target}}</div>
<div class="pl mb"><b>{{localize "OSRH.customEffect.whisperTarget"}}</b>: {{whisper}}</div>
<div class="pt">
  <button id="deleteEffect" type="button">{{localize "OSRH.customEffect.delete"}}</button>
</div>
