<h3 style="color: green">{{localize "OSRH.customEffect.effectCreated"}}</h3>
<div>{{localize "OSRH.customEffect.effectNamed"}} {{name}} {{localize "OSRH.customEffect.beenCreated"}}</div>
<div>{{localize "OSRH.customEffect.duration"}}{{duration}} {{localize "OSRH.customEffect.minutes"}}</div>
<div>{{localize "OSRH.customEffect.descrip"}} {{description}}</div>
<div>{{localize "OSRH.customEffect.target"}} {{target}}</div>
<div>{{localize "OSRH.customEffect.whisperTarget"}} {{whisper}}</div>
