<form action="submit" class="fx fdc aic sb h100p">
  <div id="new-active-effect-cont">
    <div class="fx sb w100p">
      <div class="name fx fdc sb h100p">
        <h4 id="preset-label">{{localize "OSRH.newEffectForm.savedPresets"}}:</h4>
        <select name="preset-select" id="preset-select">
          <option value="">-{{localize "OSRH.newEffectForm.select"}}-</option>
          {{#each effectPresets}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="fx fdc aic w100p">
        <h4 id="preset-label">{{localize "OSRH.newEffectForm.icon"}}:</h4>
        <select name="icon" id="icon-select">
          <option value="none">-{{localize "OSRH.newEffectForm.none"}}-</option>
          {{#each iconList}}
          <option value="{{this.name}}" id="{{this.name}}" style="color: {{this.textColor}}; background-color:{{this.color}};">
            {{this.name}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="name fx fdc aic w100p ">
      <h4 id="name-label">{{localize "OSRH.newEffectForm.name"}}:</h4>
      <input type="text" name="name" id="name">
    </div>
    <div class="descrip fx fdc aic ">
      <h4 id="descrip-label" >{{localize "OSRH.newEffectForm.description"}}:</h4>
      <textarea rows="3" cols="50" name="descrip" id="descrip" placeholder="Effect Description Here..."></textarea>
    </div>
    <div class="fx sb w100p ">
      <div class="fx sb plr5">
        <label for="self">:{{localize "OSRH.newEffectForm.self"}}:</label>
        <input type="radio" name="target" id="self" checked>
      </div>
      <h4>{{localize "OSRH.newEffectForm.target"}}</h4>
      <div class="fx sb plr5">
        <label for="targeted">{{localize "OSRH.newEffectForm.target"}}: </label>
        <input type="radio" name="target" id="targeted">
      </div>
    </div>
    <div class="attrib fx fdc aic w100p  pb5">
      <h4>{{localize "OSRH.newEffectForm.attributes"}}</h4>
      <div class="attrib-cont fx sa w100p">
        <div class="attrib-block"><label for="str"></label>{{localize "OSRH.newEffectForm.str"}}:<input name="attribute.str"id="str" type="number" value="0"></div>
        <div class="attrib-block"><label for="int"></label>{{localize "OSRH.newEffectForm.int"}}:<input name="attribute.int"id="int" type="number" value="0"></div>
        <div class="attrib-block"><label for="wis"></label>{{localize "OSRH.newEffectForm.wis"}}:<input name="attribute.wis"id="wis" type="number" value="0"></div>
        <div class="attrib-block"><label for="dex"></label>{{localize "OSRH.newEffectForm.dex"}}:<input name="attribute.dex"id="dex" type="number" value="0"></div>
        <div class="attrib-block"><label for="con"></label>{{localize "OSRH.newEffectForm.con"}}:<input name="attribute.con"id="con" type="number" value="0"></div>
        <div class="attrib-block"><label for="cha"></label>{{localize "OSRH.newEffectForm.cha"}}:<input name="attribute.cha"id="cha" type="number" value="0"></div>
      </div>
    </div>
    <div class="saves fx fdc aic w100p  pb5">
      <h4>{{localize "OSRH.newEffectForm.saves"}}</h4>
      <div class="saves-cont fx sa w100p">
        <div class="attrib-block"><label for="breath">{{localize "OSRH.newEffectForm.breath"}}:</label><input name="saves.breath" id="breath" type="number" value="0"></div>
        <div class="attrib-block"><label for="death">{{localize "OSRH.newEffectForm.death"}}:</label><input name="saves.death" id="death" type="number" value="0"></div>
        <div class="attrib-block"><label for="paralysis">{{localize "OSRH.newEffectForm.paralysis"}}:</label><input name="saves.paralysis" id="paralysis" type="number" value="0"></div>
        <div class="attrib-block"><label for="spell">{{localize "OSRH.newEffectForm.spell"}}:</label><input name="saves.spell" id="spell" type="number" value="0"></div>
        <div class="attrib-block"><label for="wand">{{localize "OSRH.newEffectForm.wand"}}:</label><input name="saves.wand" id="wand" type="number" value="0"></div>
      </div>
    </div>
    <div class="combined-row w100p">
      <!-- <div class="initiative fx fdc aic  w100p  pb5">
        <h4>initiative</h4>
        <div class="init-cont fx sa w100p">
          <div class="attrib-block">
            <label for="init">value:</label>
            <input name="init" id="init" type="number" value="0">
          </div>
          <div class="attrib-block">
            <label for="isSlow">is Slow:</label>
            <input name="isSlow" id="isSlow" type="checkbox">
          </div>
        </div>
      </div> -->
      <div class="combat fx fdc aic w100p  pb5">
        <h4>{{localize "OSRH.newEffectForm.combatBonus"}}</h4>
        <div class="combat-cont fx sa w100p">
          <div class="attrib-block"><label for="thac0">{{localize "OSRH.newEffectForm.thac0Ab"}}:</label><input name="thac0.thac0" id="thac0" type="number" value="0"></div>
          <div class="attrib-block"><label for="melee">melee{{localize "OSRH.newEffectForm.melee"}}:</label><input name="atkmod.melee" id="melee" type="number" value="0"></div>
          <div class="attrib-block"><label for="ranged">{{localize "OSRH.newEffectForm.ranged"}}:</label><input name="atkmod.ranged" id="ranged" type="number" value="0"></div>
        </div>
      </div>
      <div class="armor fx fdc aic   pb5">
        <h4>{{localize "OSRH.newEffectForm.armorBonus"}}</h4>
        <div class="attrib-block"><label for="ac">{{localize "OSRH.newEffectForm.acAac"}}:</label><input name="ac.aac" id="ac" type="number" value="0"></div>
      </div>
    </div>
    <div class="combined-row w100p">
      <div class="hp fx fdc aic w100p sb pb5">
        <h4>{{localize "OSRH.newEffectForm.hp"}}</h4>
        <div class="hp-cont fx sb w100p">
          <div class="attrib-block plr5"><label for="hp-max">{{localize "OSRH.newEffectForm.max"}}:</label><input name="hp.max" id="hp-max" type="number" value="0"></div>
          <div class="attrib-block plr5"><label for="hp-val">{{localize "OSRH.newEffectForm.value"}}:</label><input name="hp.value" id="hp-val" type="number" value="0"></div>
        </div>
      </div>
      <!-- <div class="hp fx fdc aic w100p  pb5">
        <h4>movement</h4>
        <div class="attrib-block"><label for="movement">value:</label><input name="movement" id="movement" type="number" value="0"></div>
      </div> -->
      <div class="hp fx fdc aic w100p  pb5">
        <h4>{{localize "OSRH.newEffectForm.duration"}}</h4>
        
        <div class="attrib-block w100p">
          <!-- <label for="duration">minutes:</label> -->
          <div class="interval-select fx sb w100p pb5">
            <div class="radio plr5">
              
              <input type="radio" name="interval" id="seconds">
              <label for="seconds">{{localize "OSRH.newEffectForm.sec"}}.</label>
            </div>
            <div class="radio">
              
              <input type="radio" name="interval" id="minutes" checked>
              <label for="minutes">{{localize "OSRH.newEffectForm.min"}}.</label>
            </div>
            <div class="radio plr5">
              
              <input type="radio" name="interval" id="infinite">
              <label for="minutes">{{localize "OSRH.newEffectForm.inf"}}.</label>
            </div>
          </div>
          <input name="duration" id="duration" type="number" value="0">
        </div>
      </div>
    </div>
  </div>
  <div class="button-div fx w100p sb pt10">
    <button id="reset-btn">{{localize "OSRH.newEffectForm.Reset"}}</button>
    {{#if isGM}}
    <button id="save-btn">{{localize "OSRH.newEffectForm.Save"}}</button>
    {{/if}}
    <button id="create-btn">{{localize "OSRH.newEffectForm.Create"}}</button>
  </div>
</form>