<form id="newEffectForm">
  <div class="ose-effect-form pt pr pl">
    <div class="inputDiv">
      <label for="effectName">{{localize "OSRH.customEffect.effectName"}}</label>
      <input type="text" name="effectName" id="effectName" placeholder="Name" maxlength="30" />
    </div>
    <div class="inputDiv pt">
      <label for="effectDesc">{{localize "OSRH.customEffect.effectDescrip"}}</label>
      <textarea placeholder="Enter Brief Description" name="effectDesc" id="effectDesc" rows="5" col="35"></textarea>
    </div>
    <div class="inputDiv pt">
      <label for="targetName">{{localize "OSRH.customEffect.targetName"}}</label>
      <input onClick="this.select();" type="text" name="targetName" id="targetName" value="none" maxlength="40" />
    </div>
    <div class="whisperTargetDiv pt">
      <label for="targetCheck">{{localize "OSRH.customEffect.whisperEffectTarget"}}</label>
      <input type="checkbox" name="targetCheck" id="targetCheck" />
    </div>
    <div class="inputDiv pt pb">
      <label for="effectDuration">{{localize "OSRH.customEffect.effectDuration"}}</label>
      <input type="number" name="effectDuration" id="effectDuration" value="0" />
    </div>
  </div>

  <footer class="fx sb">
    <button type="button" id="newEffectCancel">{{localize "OSRH.customEffect.cancel"}}</button>
    <button type="button" name="newEffectSub" id="newEffectSub"><i class="fa fa-check"></i> {{localize "OSRH.customEffect.ok"}}</button>
  </footer>
</form>
