<div id="travel-calc">
  <div class="title">
    <h1>{{localize "OSRH.report.travelCalc"}}</h1>
  </div>
  
  
  <section class="section" id="base-rate">
    <div class="fx jcc ">
      <div class="fx sb  ptb5">
        <div><b>{{localize "OSRH.report.baseTravelRate"}}</b>:</div>
      <div><span id="BTR">{{baseRate}}</span> mi.</div>  
      </div>
    </div>   
</section>
  <section class="" id="party-header">
  <div class="fx sb">
    <div class="w200 fx jcc br2">
      <h3>{{localize "OSRH.report.charCap"}}</h3>
    </div>
    <div class="w200 fx jcc">
      <h3>{{localize "OSRH.report.retCap"}}</h3>
    </div>
  </div>
</section>
  <section class="fx" id="party-list">
    <div class="actor-list w200 br2" id="character-list">
      {{#each characters as |character idx|}}
      <div class="actor-div fx sb plr5">
        <div class="of-hide w140">{{character.name}}</div>
        <div>{{character.distance}} mi</div>
      </div>
      {{/each}}
      {{!-- {{{characters}}} --}}
    </div>
    <div class="actor-list w200" id="retainer-list">
      {{#each retainers as |retainer idx|}}
      <div class="actor-div fx sb plr5">
        <div class="of-hide w140">{{retainer.name}}</div>
        <div>{{retainer.distance}} mi</div>
      </div>
      {{/each}}
      {{!-- {{{retainers}}} --}}
    </div>
  </section>
  <section>
    <h3>{{localize "OSRH.report.terrainType"}}</h3>
  </section>
  <section id="terrain-select">
   
    <div class="terrain">
      <div class="terrain-select-row ">
        <div class="terrain-select">
          <input type="radio" id="trail" value="trail" name="terrain">
          <label for="trail">{{localize "OSRH.report.trail"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="road" value="road" name="terrain">
          <label for="trail">{{localize "OSRH.report.road"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="clear" value="clear" name="terrain" checked>
          <label for="clear">{{localize "OSRH.report.clear"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="grassland" value="grassland" name="terrain">
          <label for="grassland">{{localize "OSRH.report.grassland"}}</label>
        </div>
      </div>
      <div class="terrain-select-row ">
        <div class="terrain-select">
          <input type="radio" id="city" value="city" name="terrain">
          <label for="city">{{localize "OSRH.report.city"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="forest" value="forest" name="terrain">
          <label for="forest">{{localize "OSRH.report.forest"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="mud" value="mud" name="terrain">
          <label for="mud">{{localize "OSRH.report.mud"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="snow" value="snow" name="terrain">
          <label for="snow">{{localize "OSRH.report.snow"}}</label>
        </div>
      </div>
      <div class="terrain-select-row ">
        <div class="terrain-select">
          <input type="radio" id="hill" value="hill" name="terrain">
          <label for="hill">{{localize "OSRH.report.hill"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="desert" value="desert" name="terrain">
          <label for="desert">{{localize "OSRH.report.desert"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="brokenLand" value="brokenLand" name="terrain">
          <label for="brokenLand">{{localize "OSRH.report.brokenLand"}}</label>
        </div>

        <div class="terrain-select">
          <input type="radio" id="mountain" value="mountain" name="terrain">
          <label for="mountain">{{localize "OSRH.report.mountain"}}</label>
        </div>
      </div>
      <div class="terrain-select-row ">
        <div class="terrain-select">
          <input type="radio" id="swamp" value="swamp" name="terrain">
          <label for="swamp">{{localize "OSRH.report.swamp"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="jungle" value="jungle" name="terrain">
          <label for="jungle">{{localize "OSRH.report.jungle"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="ice" value="ice" name="terrain">
          <label for="ice">{{localize "OSRH.report.ice"}}</label>
        </div>
        <div class="terrain-select">
          <input type="radio" id="glacier" value="glacier" name="terrain">
          <label for="glacier">{{localize "OSRH.report.glacier"}}</label>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3>{{localize "OSRH.report.navCheck"}}</h3>
  </section>
  <section id="util-rolls">
    <div class="button-container">
      <h4>{{localize "OSRH.report.utilRolls"}}</h4>
      <div class="bonus-div">
        <label for="nav-bonus">{{localize "OSRH.report.bonus"}}</label>
        <input type="number" class="bonus-input" id="nav-bonus" value="0">
      </div>
      <button type="button" id="nav-check">{{localize "OSRH.report.roll"}}</button>
    </div>
    <div class="button-container" id="enc-roll-cont">
      {{#if ose}}
        <h4>{{localize "OSRH.report.encRoll"}}</h4>
        <div class="btn-spcr"></div>
        <button type="button" id="enc-btn">{{localize "OSRH.report.roll"}}</button>
      {{/if}}
    {{!-- {{{encButton}}} --}}
    </div>
    <div class="button-container">
      <h4>{{localize "OSRH.report.forageCheck"}}</h4>
      <div class="bonus-div">
        <label for="forage-bonus">{{localize "OSRH.report.bonus"}}</label>
        <input type="number" class="bonus-input" id="forage-bonus" value="0">
      </div>
      <button type="button" id="forage-check">{{localize "OSRH.report.roll"}}</button>
    </div>
  </section>
  <section>
    <button type="button" id="close-btn">{{localize "OSRH.customEffect.close"}}</button>
  </section>
</div>
</div>