<form id=" turn-tracker">
  <section class="main">
    <header class="tracker-header">
      <div class="btn-div">
        {{#if isGM}}<a id="reset-session-btn" class="light-icon" title="{{localize "OSRH.ui.resetSession"}}  "><i class="fa-solid fa-clock-rotate-left"></i></a>{{/if}}
        <p class="title">{{localize "OSRH.turnTracker.appTitle"}} </p>
        {{#if isGM}}<a id="reset-total-btn" class="light-icon" title="{{localize "OSRH.ui.resetTotal"}} "><i class="fa-regular fa-calendar-xmark"></i></a></div>{{/if}}
      </div>
      
      <div class="sheet-tabs" data-group="primary">
        <a class="nav-tab" data-tab="dungeon">{{localize "OSRH.turnTracker.dungeon"}} </a>
        <a class="nav-tab" data-tab="travel">{{localize "OSRH.turnTracker.travel"}} </a>
        {{#if isGM}}
        <a class="nav-tab narrow-tab" data-tab="dungeon-config" title="{{localize "OSRH.turnTracker.title.dunTurnConfig"}} "><i class="fa-solid fa-dungeon"></i></a> 
        
        <a class="nav-tab narrow-tab" data-tab="travel-config" title="{{localize "OSRH.turnTracker.title.travTurnConfig"}} "><i class="fa-regular fa-compass"></i></a> 
        
        <a class="nav-tab narrow-tab" data-tab="global-config" title="{{localize "OSRH.turnTracker.title.globalConfig"}} "><i class="fa-solid fa-gear"></i></a> 
        {{/if}}
      </div>
     
    </header>
    <section class="tab-content" id="tab-content">
      <div class="tab dungeon" data-group="primary" data-tab="dungeon">
        <div class="dungeon-tab">
          <section class="bg-img-cont">
            <img id="bg-0"src="modules/osr-helper/images/tts-0.webp" class="sprite hidden">
            <img id="bg-1"src="modules/osr-helper/images/tts-1.webp" class="sprite hidden">
            <img id="bg-2"src="modules/osr-helper/images/tts-2.webp" class="sprite hidden">
            <img id="bg-3"src="modules/osr-helper/images/tts-3.webp" class="sprite hidden">
            <img id="bg-4"src="modules/osr-helper/images/tts-4.webp" class="sprite hidden">
            <img id="bg-5"src="modules/osr-helper/images/tts-5.webp" class="sprite hidden">
          </section>
          <div class="count-cont">
            <h2>{{localize "OSRH.turnTracker.dungeonTurncounts"}} </h2>
            <div class="row">
              <div class="count-label session">{{localize "OSRH.turnTracker.session"}} :</div> 
              <div class="count-value" id="sesion-count">{{turnData.dungeon.session}}</div>
            </div>
            <div class="row">
              <div class="count-label total">{{localize "OSRH.turnTracker.total"}}  :</div> 
              <div class="count-value" id="total-count">{{turnData.dungeon.total}}</div>
            </div>
            <div class="row">
              <div class="count-label current">{{localize "OSRH.turnTracker.sinceRest"}} :</div> 
              <div class="count-value" id="current-count">{{turnData.dungeon.rest}}</div>
            </div>
            <div class="d-level-row">
              <label class="count-label"for="d-level">{{localize "OSRH.turnTracker.dungeonLevel"}} </label>
              <div class="row dungeon-lvl">
                {{#if isGM}}
                <a id="d-lvl-dn">
                  <i class="fa-solid fa-up"></i>
                </a>
                {{/if}}
                <input class="num-inp"type="text" name="d-level" id="d-level" data-dtype="number" min="1" max="8" value="{{turnData.dungeon.lvl}}" {{#if isGM}}{{else}}disabled{{/if}}>
                {{#if isGM}}
                <a id="d-lvl-up">
                  <i class="fa-solid fa-down"></i>
                </a>
                {{/if}}
              </div>
            </div>
          </div>
        <footer class="dungeon">
        {{#if isGM}}
          <a id="d-rest-btn" class="light-icon" title="{{localize "OSRH.turnTracker.title.rest"}} "><i class="fa-solid fa-campground"></i></a>
          <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
          <a id="dungeon-turn-advance-btn" class="light-icon" title="{{localize "OSRH.turnTracker.title.advDunTurn"}} "><i class="fa-solid fa-forward"></i></a>
        {{/if}}
        </footer>

        </div>
      
      </div>
       <div class="tab travel" data-group="primary" data-tab="travel">
        <div class="travel-tab">
          <div class="travel-session">
            <label for="travel-session">{{localize "OSRH.turnTracker.session"}} </label>
            <div id="travel-session" title="{{localize "OSRH.turnTracker.title.travSessCount"}} ">{{turnData.travel.session}}</div>
          </div>
          <div class="travel-total">
            <label for="travel-current">{{localize "OSRH.turnTracker.total"}} </label>
            <div id="travel-total" title="{{localize "OSRH.turnTracker.title.travTotCOunt"}} t">{{turnData.travel.total}}</div>
          </div>
          <h2>{{localize "OSRH.turnTracker.travelTurn"}} </h2>
           {{#if isGM}}
            <select name="terrain" id="terrain" title="{{localize "OSRH.turnTracker.title.terrain"}} ">
            <option class="terrainOpt"data-target="1" value="clear">{{localize "OSRH.report.clear"}} </option>
            <option class="terrainOpt"data-target="1" value="trail">{{localize "OSRH.report.trail"}} </option>
            <option class="terrainOpt"data-target="1" value="road">{{localize "OSRH.report.road"}} </option>
            <option class="terrainOpt"data-target="1" value="city">{{localize "OSRH.report.city"}} </option>
            <option class="terrainOpt"data-target="1" value="grassland">{{localize "OSRH.report.grassland"}} </option>
            <option class="terrainOpt"data-target="2" value="forest">{{localize "OSRH.report.forest"}} </option>
            <option class="terrainOpt"data-target="2" value="mud">{{localize "OSRH.report.mud"}} </option>
            <option class="terrainOpt"data-target="2" value="snow">{{localize "OSRH.report.snow"}} </option>
            <option class="terrainOpt"data-target="2" value="hill">{{localize "OSRH.report.hill"}} </option>
            <option class="terrainOpt"data-target="2" value="desert">{{localize "OSRH.report.desert"}} </option>
            <option class="terrainOpt"data-target="2" value="brokenLand">{{localize "OSRH.report.brokenLand"}} </option>
            <option class="terrainOpt"data-target="3" value="mountain">{{localize "OSRH.report.mountain"}} </option>
            <option class="terrainOpt"data-target="3" value="swamp">{{localize "OSRH.report.swamp"}} </option>
            <option class="terrainOpt"data-target="3" value="jungle">{{localize "OSRH.report.jungle"}} </option>
            <option class="terrainOpt"data-target="2" value="ice">{{localize "OSRH.report.ice"}} </option>
            <option class="terrainOpt"data-target="2" value="glacier">{{localize "OSRH.report.glacier"}} </option>
            </select>
          {{else}}
          <div class="terrain-type">
            {{localize "OSRH.turnTracker.terrain"}} : {{turnData.travel.terrain}}
          </div>{{/if}}
          <div class="base-rate">
            <label for="base-travel-rate">{{localize "OSRH.report.baseTravelRate"}} :</label>
            <div id="base-travel-rate">{{baseRate}} mi</div>
          </div>
          <section id="party-list" class="party-list {{#if isGM}}{{else}}{{/if}}">
            {{!-- {{{characters}}} --}}
            <div class="actor-list" id="character-list">
              <div class="char-list-header">{{localize "OSRH.report.characters"}} </div>
              {{#each characters as |character idx|}}
              <div class="actor-div">
                <div class="actor-name">{{character.name}}</div>
                <div class="actor-controls">
                  <div>{{character.distance}} mi</div>
                </div>
              </div>
              {{/each}}  
            </div>
            {{!-- {{{retainers}}} --}}
            <div class="actor-list" id="retainer-list">
              <div class="char-list-header">{{localize "OSRH.report.retainers"}} </div>
              {{#each retainers as |retainer idx|}}
              <div class="actor-div">
                <div class="actor-name">{{retainer.name}}</div>
                <div class="actor-controls">
                  {{#if retainer.controlled}} AAA
                  {{/if}}
                  <div>{{retainer.distance}} mi.</div>
                </div>
              </div>
              {{/each}}
              
            </div>
          </section>
           
          <section class="travel-checks">
            {{#if isGM}}
            <div class="input-block">
              <div class="check-label">{{localize "OSRH.turnTracker.navigation"}} </div>
              <div class="flex-row">
                <a id="navigation-check" title="{{localize "OSRH.turnTracker.title.navCheck"}} "><i class="fa-solid fa-compass"></i></a>
                <input type="text" id="nav-bonus"data-dtype="Number" title="{{localize "OSRH.turnTracker.title.navBonus"}} " value="0">
              </div>
            </div>
            {{/if}}
            <div class="input-block travel-rest-count">
              <div class="check-label">{{localize "OSRH.turnTracker.sinceRest"}} </div>
              <div class="check-label rest-turns">{{turnData.travel.rest}}</div>
            </div>
            {{#if isGM}}
            <div class="input-block">
              <div class="check-label">{{localize "OSRH.turnTracker.forage"}}</div>  
              <div class="flex-row">
                <input type="text" id="forage-bonus" data-dtype="Number" title="{{localize "OSRH.turnTracker.title.forBonus"}} " value="0">
                <a id="forage-check" title="{{localize "OSRH.turnTracker.title.forCHeck"}} "><i class="fa-solid fa-utensils"></i></a>
                
              </div>
            </div>
            {{/if}}
          </section>
           
          <footer class="travel">
          {{#if isGM}}
            <a id="t-rest-btn" class="light-icon" title="{{localize "OSRH.turnTracker.title.rest"}} "><i class="fa-solid fa-campground"></i></a>
            <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
            <a id="travel-turn-advance-btn" class="light-icon" title="{{localize "OSRH.turnTracker.title.advTravTurn"}} "><i class="fa-solid fa-forward"></i></a>
          {{/if}}
          </footer>
        </div>
      </div>
      <div class="tab dungeon-config" data-group="primary" data-tab="dungeon-config">
        <div class="dungeon-config-tab">
          <h2>{{localize "OSRH.turnTracker.dungeonOptions"}} </h2>
          <div class="row">
            <div class="row">
              <input type="checkbox" name="d-encounter-roll" id="d-encounter-roll" title="{{localize "OSRH.turnTracker.title.rolEnc"}} "{{#if turnData.dungeon.rollEnc}}checked{{/if}}>
              <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollEnc"}} </label>
            </div>
            <div class="row">
              <input type="checkbox" name="d-react-roll" id="d-react-roll" title="{{localize "OSRH.turnTracker.title.rollReact"}} "{{#if turnData.dungeon.rollReact}}checked{{/if}}>
              <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollReact"}} </label>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <input type="text" class="num-inp" data-dtype="number" name="d-encounter-freq" id="d-encounter-freq" title="{{localize "OSRH.turnTracker.title.encFreq"}} " value="{{turnData.dungeon.proc}}">
              <label for="d-encounter-freq" >{{localize "OSRH.turnTracker.freq"}} </label>
            </div>
            <div class="row">
              <input type="text" class="num-inp" data-dtype="number" name="d-encounter-target" id="d-encounter-target" title="{{localize "OSRH.turnTracker.title.encTarget"}} " value="{{turnData.dungeon.rollTarget}}">
              <label for="d-encounter-target" >{{localize "OSRH.turnTracker.rollTarget"}} </label>
            </div>
          </div>
          <div class="row">
            <label for="d-react-table">{{localize "OSRH.turnTracker.reactTable"}} : </label>
                <select class="react-select dropEl" name="d-react-table" id="d-react-table" value="{{turnData.dungeon.rTable}}">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
          </div>
            <div class="encounter-tables">
              <div class="row" >
                <label for="lvl-1">Lvl 1: </label>
                <select class="d-enc-select dropEl" name="lvl-1" id="lvl-1" data-lvl="1">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-2">Lvl 2: </label>
                <select class="d-enc-select dropEl" name="lvl-2" id="lvl-2" data-lvl="2">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-3">Lvl 3: </label>
                <select class="d-enc-select dropEl" name="lvl-3" id="lvl-3" data-lvl="3">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-4">Lvl 4: </label>
                <select class="d-enc-select dropEl" name="lvl-4" id="lvl-4" data-lvl="4">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-5">Lvl 5: </label>
                <select class="d-enc-select dropEl" name="lvl-5" id="lvl-5" data-lvl="5">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-6">Lvl 6: </label>
                <select class="d-enc-select dropEl" name="lvl-6" id="lvl-6" data-lvl="6">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-7">Lvl 7: </label>
                <select class="d-enc-select dropEl" name="lvl-7" id="lvl-7" data-lvl="7">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="row" >
                <label for="lvl-8">Lvl 8+: </label>
                <select class="d-enc-select dropEl" name="lvl-8" id="lvl-8" data-lvl="8">
                  <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                  {{#each tableNames as |name idx|}}
                    <option value="{{name}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
        </div>

        <footer class="config">
          {{#if isGM}}
          <p class="blank-button"></p>
          <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
          <p class="blank-button"></p>
          {{/if}}
        </footer>
      </div>
      <div class="tab travel-config"data-group="primary" data-tab="travel-config">
        <div class="travel-config-tab">
          <h2>{{localize "OSRH.turnTracker.travelTurnOpt"}} </h2>
          <div class="travel-options">
            <div class="row">
            <div class="row">
              <input type="checkbox" name="t-encounter-roll" id="t-encounter-roll" title="{{localize "OSRH.turnTracker.title.rolEnc"}} "{{#if turnData.travel.rollEnc}}checked{{/if}}>
              <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollEnc"}} </label>
            </div>
            <div class="row">
              <input type="checkbox" name="t-react-roll" id="t-react-roll" title="{{localize "OSRH.turnTracker.title.rollReact"}} "{{#if turnData.travel.rollReact}}checked{{/if}}>
              <label for="encounter-roll" >{{localize "OSRH.turnTracker.rollReact"}} </label>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <input type="text" class="num-inp" data-dtype="number" name="t-encounter-freq" id="t-encounter-freq" title="{{localize "OSRH.turnTracker.title.encPerTurn"}} " value="{{turnData.travel.proc}}">
              <label for="t-encounter-freq" >{{localize "OSRH.turnTracker.enc"}} </label>
            </div>
            <div class="row">
              <input type="text" class="num-inp" data-dtype="number" name="t-encounter-target" id="t-encounter-target" title="{{localize "OSRH.turnTracker.title.encTarget"}} " value="{{turnData.travel.rollTarget}}">
              <label for="t-encounter-target" >{{localize "OSRH.turnTracker.rollTarget"}} </label>
            </div>
          </div>
            <div class="row">
              <label for="travel-react-table">{{localize "OSRH.turnTracker.reactTable"}} : </label>
              <select class="react-select dropEl" name="travel-react-table" id="travel-react-table" value="{{turnData.travel.rTable}}">
                <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                {{#each tableNames as |name idx|}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="row">
              <label for="travel-enc-table">{{localize "OSRH.turnTracker.encTable"}} : </label>
              <select class="react-select dropEl" name="travel-enc-table" id="travel-enc-table" value=" {{turnData.travel.encTable}}">
                <option value="none">{{localize "OSRH.turnTracker.none"}} </option>
                {{#each tableNames as |name idx|}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <footer class="config">
            {{#if isGM}}
            <p class="blank-button"></p>
            <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
            <p class="blank-button"></p>
          {{/if}}
          </footer>
        </div>
      </div>
      <div class="tab global-config" data-group="primary" data-tab="global-config">
        
        <div class="global-options">
          <div class="main">
            <h2>{{localize "OSRH.turnTracker.globalOpt"}} </h2>
            <div class="row">
              <div class="row">
                <label for="track-ration-expiration">{{localize "OSRH.turnTracker.rationExpiration"}}:</label>
                <input type="checkbox" name="ration-expiration" id="track-ration-expiration" title="" {{#if turnData.global.trackRationExp}}checked{{/if}}>
              </div>
            </div>
          </div>
          <footer class="config">
            {{#if isGM}}
            <p class="blank-button"></p>
            <a id="save-settings"class="hidden save-settings light-icon"><i class="fa-solid fa-floppy-disk"></i></a>
            <p class="blank-button"></p>
          {{/if}}
          </footer>
        </div>
      </div>
    </section>
    
  </section>

</form>