<div class='sheet-tabs tabs' data-group='primary'>
    <a class='nav-tab {{tabs.party.cssClass}}' data-action="tab" data-group="primary" data-tab="party">{{localize 'OSRH.partySheet.party'}} </a>
    <a class='nav-tab {{tabs.formation.cssClass}}' data-action="tab" data-group="primary" data-tab="formation">{{localize 'OSRH.partySheet.formation'}} </a>
    <a class='nav-tab {{tabs.config.cssClass}}' data-action="tab" data-group="primary" data-tab="config" id="config-tab" title ="{{localize "OSRH.item.config.config"}}"><i class="fa-solid fa-gear"></i></a>
</div>